*{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
}
.top{
	width:100%;
	height:68px;
	box-shadow:0px 2px 1px #cbcaca;
	background:#f6f6f6;
}
.tcenter{
	width:1200px;
	height:68px;
	margin:0 auto;
}
.tleft{
	float:left;
}
.logo{
	width:110px;
	height:56px;
	line-height:68px;
	padding-top:12px;
	float:left;
}
.sel{
	width:95px;
	height:68px;
	font-size:14px;
	float:left;
	text-align:center;
	line-height:68px;
}
.sel:hover .city{
	display:block;
}
.city{
	width:200px;
	height:150px;
	background:red;
	position:fixed;
	top:50px;
	border-radius:3px;
	display:none;
}
.city a{
	margin:5px;
	cursor:pointer;
}
select{
	border:none;
	outline:none;
}
.span1{
	float:left;
	margin:20px;
	color:black;
	text-decoration:none;
}
.tright{
	width:230px;
	height:68px;
	float:right;
	font-size:14px;
	line-height:68px;
}
.span2.h{
	color:#ec6c00;
}
.ban{
	width:1200px;
	height:600px;
	margin:0 auto;
}
.bleft{
	width:258px;
	height:auto;
	border:1px solid #dddddd;
	float:left;
	margin-top:55px;
}
.bl_top{
	width:228px;
	height:34px;
	border-bottom:1px solid #dddddd;
	line-height:34px;
	font-size:15px;
	font-weight:bolder;
	padding-left:30px;
	background:#f7f7f7;
}
.bl_con1{
	width:258px;
	height:112px;
	background:white;
}
.bl_link1{
	width:228px;
	height:17px;
	padding-left:30px;
	padding-top:16px;
	font-size:14px;
}
.bl_cen{
	width:228px;
	height:34px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	line-height:34px;
	font-size:15px;
	font-weight:bolder;
	padding-left:30px;
	background:#f7f7f7;
}
.bl_con2{
	width:258px;
	height:80px;
	background:white;
}
.bl_bot{
	width:228px;
	height:34px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	line-height:34px;
	font-size:15px;
	font-weight:bolder;
	padding-left:30px;
	background:#f7f7f7;
}
.bl_con3{
	width:258px;
	height:80px;
	background:white;
}
.bright{
	width:782px;
	height:530px;
	margin-left:20px;
	margin-top:55px;
	float:left;
}
.br_top{
	width:782px;
	height:36px;
	background:#ec6c00;
	text-align:center;
	color:white;
	line-height:36px;
	font-weight:36px;
}
.names{
	width:702px;
	height:60px;
	padding-left:80px;
	position:relative;
}
.name{
	width:auto;
	height:auto;
	float:left;
	font-size:14px;
	margin-top:32px;
}
.inp1{
	width:415px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
}
.inp1 input{
	width:400px;
	height:20px;
	border:none;
	outline:none;
}
.xqs{
	width:425px;
	height:auto;
	background:red;
	position:absolute;
	top:56px;
	left:145px;
	z-index:10;
	display:none;
}
.inp7 textarea{
	width:415px;
	height:30px;
	border:none;
	outline:none;
	font-size:14px;
	line-height:30px;
}
.hook1{
	margin-top:32px;
	display:none;
	float:left;
}
.wr1{
	margin-top:30px;
	color:red;
	font-size:14px;
	display:none;
	float:left;
}
.hook2{
	margin-top:32px;	
	display:none;
	float:left;
}
.wr2{
	margin-top:30px;
	color:red;
	font-size:14px;
	float:left;
	display:none;
}
.hook3{
	margin-top:32px;
	display:none;
	float:left;
}
.wr3{
	margin-top:30px;
	color:red;
	font-size:14px;
	display:none;
	float:left;
}
.wr4{
	margin-top:30px;
	color:red;
	font-size:14px;
	display:none;
	float:left;
}
.hook4{
	margin-top:32px;
	display:none;
	float:left;
}
.wr5{
	margin-top:30px;
	color:red;
	font-size:14px;
	float:left;
	display:none;
}
.hook5{
	margin-top:32px;
	display:none;
	float:left;
}
.wr6{
	margin-top:30px;
	color:red;
	font-size:14px;
	float:left;
	display:none;
}
.hook6{
	margin-top:32px;
	display:none;
	float:left;
}
.wr7{
	margin-top:30px;
	color:red;
	font-size:14px;
	float:left;
	display:none;
}
.inp21{
	width:194px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
	font-size:14px;
	color:#b2b2b2;
	position:relative;
}
.inp21 input{
	float:left;
	width:100px;
	height:26px;
	border:none;
	outline:none;
}
.inp21:hover .qs_1{
	display:block;
}
.inp22{
	width:194px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
	font-size:14px;
	color:#b2b2b2;
	margin-left:15px;
	position:relative;
}
.inp22 input{
	float:left;
	width:100px;
	height:26px;
	border:none;
	outline:none;
}
.inp22:hover .qs_2{
	display:block;
}
.qs{
	float:right;
	margin-right:10px;
}
.qs_1{
	width:200px;
	height:100px;
	position:absolute;
	left:0px;
	top:31px;
	background:white;
	border-radius:3px;
	border:1px solid #dddddd;
	border-top:none;
	display:none;
	z-index:10;
}
.qs_2{
	width:200px;
	height:100px;
	position:absolute;
	left:0px;
	top:31px;
	background:white;
	border-radius:3px;
	border:1px solid #dddddd;
	border-top:none;
	display:none;
	z-index:10;
}
.names1{
	width:674px;
	height:60px;
	padding-left:108px;
	overflow:hidden;
}
.inp3{
	width:65px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
	font-size:14px;
	color:#b2b2b2;
}
.inp3 input{
	width:100%;
	height:20px;
	border:none;
	outline:none;
}
.span3{
	width:26px;
	height:30px;
	text-align:center;
	margin-top:30px;
	float:left;
	color:#666666;
}
.span4{
	width:50px;
	height:30px;
	text-align:center;
	margin-top:30px;
	float:left;
	color:#666666;
}
.change{
	width:auto;
	height:30px;
	line-height:30px;
	float:left;
	margin-top:28px;
	font-size:14px;
	color:#b2b2b2;
}
.inp4{
	width:116px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
	font-size:14px;
	color:#b2b2b2;
	margin-left:14px;	
}
.inp51{
	width:415px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
}
.inp51 input{
	width:350px;
	border:none;
	outline:none;

}
.inp51 span{
	float:right;
	margin-right:10px;
	color:#666666;
}
.inp52{
	width:415px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
}
.inp52 input{
	width:350px;
	border:none;
	outline:none;

}
.inp52 span{
	float:right;
	margin-right:10px;
	color:#666666;
}
.inp6{
	width:auto;
	height:30px;
	line-height:30px;
	margin-right:40px;
	float:left;
	margin-top:28px;
}
.inp7{
	width:415px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	font-size:14px;
	margin-top:24px;
}
.f{
	margin-left:5px;
	font-size:15px;
	color:#666666;
}
.btn{
	width:140px;
	height:40px;
	text-align:center;
	border-radius:4px;
	line-height:40px;
	background:#ec6c00;
	color:white;
}
.names3{
	width:300px;
	height:30px;
	padding-top:30px;
	padding-left:144px;
}
.inp8{
	width:415px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	border:1px solid #dddddd;
	border-radius:4px;
	float:left;
	margin-top:24px;
}
.inp8 input{
	width:400px;
	height:20px;
	border:none;
	outline:none;
}
